// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #3E4462;
$yellow: #FFC65A;
$orange: #EDA245;
$green: #1EDD88;
$gray: #7E7E7E;
$light-gray: #F4F4F4;

//my own color
$my-beige: #f9e0ae;
$my-orange: #EDA345;
$my-brown: #c24914;
$my-dbrown: #682c0e;
$my-blue: #3E4462;
