.banner {
  height: 435px;
  justify-content: space-around;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("banner.jpg");
  background-size: cover;
  background-position: center;
  color: white;

    h2 {
      text-align: left;
      margin: 0;
      color: white;
      padding-left: 20px;
      padding-top: 86px;
      padding-bottom: 22px;
      font-weight: bold;
    }
  }

h3 {

  text-align: center;
  font-size: 32px;
  padding: 16px;
  color: black;
}

h5{
  color: black;
  font-family: 'Lobster', cursive;
}

p{
  color: black;
  font-family: 'Varela Round', sans-serif;

}

.btn {
  color: white;
  width: 140px;
  text-align: center;
  border-radius: 32px;
}

.search-bar{
  width: 385px;
  margin: 16px;
}

.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  #link-to {
    color: #E84C4F;
    text-decoration: underline;
  }
}

.btn-home {
    background-color: #EDA245;
    color: white;
    width: 335px;
    border-radius: 52px;
    height: 38px;
    font-size: 16px;
    font-weight: bolder;
    border: 0px;
}

.search-form {
  border-radius: 2px;
}

.p-homepage {
  color: white;
  text-align: left;
  font-size: 18px;
}


