.home-page {
    height: 100vh;
    justify-content: space-around;
    background-image: asset-url('home-image.png');
    background-size: cover;
    background-position: center;
    color: white;
    top: 0;
    text-align: center;
    padding-top: 64px;
    h1 {
        text-align: center;
        font-size: 64px;
        padding: 32px;
        color: $my-beige;
    }

    h2 {
        text-align: center;
        margin: 15px;
        font-size: 48px bold;
        font-family: 'Varela Round', sans-serif;
        color: $my-beige;

    }
    .home-page-btn {
        vertical-align: middle;
        padding: 32px;
    }
    img {
        border-radius: 50%;
        align-items: center;
        width: 96px;
        height: 96px;
        position: absolute;
        top: 30%;
        left: 50%;
        margin:-40px 0 0 -40px;
        -webkit-animation:spin 1s linear infinite;
        -moz-animation:spin 1s linear infinite;
        animation:spin 1s linear infinite;
    }
    .text-height {
        width: 100%;
        height: 32px;
        padding: 64px;
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

