// Specific CSS for your home-page
.banner {
    height: 70vh;
    justify-content: space-around;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("banner.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    top: 0;
    h1 {
        font-family: 'Lobster', cursive;
        text-align: center;
        font-size: 64px;
        padding: 32px;
    }

    h2 {
        text-align: center;
        margin: 15px;
        font-size: 24px;
        font-family: 'Varela Round', sans-serif;
    }
}

.home-page {
    height: 100vh;
    justify-content: space-around;
    background-color: black;
    background-size: cover;
    background-position: center;
    color: white;
    top: 0;
    text-align: center;
    padding-top: 64px;
    h1 {
        font-family: 'Lobster', cursive;
        text-align: center;
        font-size: 64px;
        padding: 32px;
        color: $my-beige;
    }

    h2 {
        text-align: center;
        margin: 15px;
        font-size: 24px;
        font-family: 'Varela Round', sans-serif;
        color: $my-beige;
        padding: 42px;
    }
    .home-page-btn {
        vertical-align: middle;
    }
    img {
        border-radius: 50%;
        align-items: center;
    }
}

.space-home-page {
    width: 100%;
    height: 300px;
}