<%= form_tag meals_path, method: :get do %>

  <p class="mb-1 p-homepage">Where?</p>
  <%= text_field_tag :home_address,
    params[:home_address] || current_user&.home_address || session[:home_address],
    class: "form-control mb-4 form-control-bigger",
    id:"address"
  %>

  <ul class= "results">
  </ul>

  <p class="mb-1 p-homepage">When?</p>
  <%= text_field_tag :day,
    params[:day] || "#{1.day.from_now.to_date} 20:00",
    class: "form-control flatpickr datepicker search-form form-control-bigger"
  %>
  <br>
  <center><%= submit_tag "Let's get yummi food!", class: "btn-home" %></center>
<% end %>


