<center>
<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">last orders</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">bidule</a>
  </li>
</ul>
</center>
<div class="dashboard-list">
  <ul>
    </li>
      <div class="dashboard-card">
        <img src="https://cdn.radiofrance.fr/s3/cruiser-production/2020/02/0ce7dc22-8fc2-4336-9c35-55ff1fa1461b/1200x680_bourguignon.jpg" />
      </div>
    <li>
  </ul>
  <br>
  <h1>Date</h1>
  <hr>
  <h1>title</h1>
  <hr>
  <h1>price</h1>
  <hr>
  <textarea id="story" name="story"
          rows="5" cols="33">
some advice for the chef .....
</textarea> 
</div>
