<div class="banner">
  <h1>YUMMI !</h1>
  <h2>live a culinary experience thanks to your neighbors</h2>
  <div class="">

    
    <center><%= submit_tag "connexion ", class: "btn btn-primary" %></center>
  </div>
</div>
    
