<div class="home-page">
  <div class="space-home-page">
    <img src="//d26jy9fbi4q9wx.cloudfront.net/assets/logo_square-2a2b37a2be341690cc27951815247ac550d17e57b97542a61b92848057aab506.svg" alt="">

    <h2><span id="banner-typed-text"></span></h2>

  </div>

  <div class="home-page-btn">

    <center><%= submit_tag "connexion ", class: "btn btn-primary" %></center>
    
  </div>
</div>
    
