<div class="home-page">

  <br><br><br><br><br><br><br><br><br>
  <div class="text-height">
    <h2><span id="banner-typed-text"></span></h2>
  </div>

  <br>

  <div class="home-page-btn">

    <%= render 'shared/home-enter' %>
    
  </div>
 
</div>
    
