<div class="home-page">
  <h1>YUMMI !</h1><br>
  <div class="space-home-page">
    <p>
    <h2><span id="banner-typed-text"></span></h2>
    </p>
  </div>

  <div class="home-page-btn">

      <center><%= submit_tag "connexion ", class: "btn btn-primary" %></center>

    
  </div>
</div>
    
