<div class="home-page">

  <div class="space-home-page">
    <br><br><br><br><br><br><br><br><br>
    <h2><span id="banner-typed-text"></span></h2>

  </div>
  <br>

  <div class="home-page-btn">

    <%= render 'shared/home-enter' %>
    
  </div>
  <div class="lds-ring"><div></div><div></div></div>
</div>
    
