.btn-order {
  background-color: $my-orange;
  border: 1px solid $my-orange;
  color: white;
  padding: 8px 24px;
  width: 335px;
  height: 50px;
  border-radius: 50px;
  font-weight: lighter;
  text-align: center;
  a {
    color: white;
    font-size: 18px;
    text-align: center;
  }

}

.btn-pay {
  background-color: $my-orange;
  border: 1px solid $my-orange;
  color: white;
  padding: 8px 24px;
  width: 250px;
  height: 50px;
  border-radius: 50px;
  font-weight: lighter;
  text-align: center;
  a {
    color: white;
    font-size: 18px;
    text-align: center;
  }

}

.btn-order-fix {
  position: absolute;
  bottom: 100px;
  left: 82px;
  z-index: 1;
  background-color: $my-orange;
  border: 1px solid $my-orange;
  color: white;
  padding: 8px 24px;
  width: 250px;
  height: 50px;
  border-radius: 50px;
  font-weight: lighter;
  text-align: center;
  a {
    color: white;
    font-size: 18px;
    text-align: center;
  }
}

.btn-order-checkout{
  background-color: $my-blue;
  border: 1px solid $my-blue;
  color: white;
  padding: 8px 24px;
  width: 250px;
  height: 50px;
  padding: 5px;
  border-radius: 50px;
  font-weight: lighter;
  text-align: center;
  a {
    color: white;
    font-size: 18px;
    text-align: center;
  }
}

.send-btn-chat {
  background-color: $my-orange;
  color: white;
  border: none;
}
