.card-flex {
  overflow-x: scroll;
  margin-bottom: 96px;
  ul {
    display: flex;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
  }

}

.display-column {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
  align-items: center;
  img {
    padding-left: 3px;
  }
}

#flex-grow {
  flex-grow: 1;
  padding-left: 3px;
  padding-right: 10px;
}

.display-flex-card {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  h3 {
  font-size: 15px;
  padding: 0;
  margin: 0;
  color: black;
  text-align: left;
  }
}

.tag-show-card {
  display: flex-end;
  border: 2px solid $my-blue;
  border-radius: 50px;
  padding: 5px;
  margin: 2px;
  p {
    font-size: 14px;
    color: black;
    font-weight: bolder;
    margin: 0;
  }
}

.price-tag {
  background-color: $my-blue;
  color: white;
  padding: 4px;
  border-radius: 4px;
}

.card-suggestion-home {
  overflow: hidden;
  background: white;
  width: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
  border-radius: 8px;
  margin-right: 15px;
  height: 100%;
  text-align: left;
}

.card-suggestion-home > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card-suggestion-home h2 {
  font-size: 16px;
  font-weight: bold;
}

#margin-top-home {
  margin: 10px 0;
}

.card-suggestion-home p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}



.card-suggestion-wrap-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card-suggestion-home .card-suggestion-infos-home {
  padding: 0px 16px;
  display: flex;
  position: relative;
  background-color: white;
  margin: 10em 1em 1em 1em;
  border-radius: 8px;
  height: 100px;
  align-items: center;
}

.card-suggestion-infos-home .card-suggestion-user-home {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.description-flex {
  display: flex;
  flex-direction: column;
  p {
    margin: 0px
  }
}

.row {
  text-align: center;
}
