#container-index {
  padding-top: 35px;
  padding-bottom: 15px;
  justify-content: center;
  text-align: center;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
  h1 {
    margin: 0px;
    padding: 0px;
  }
  p {
    margin: 0px;
    padding: 0px;
  }
}

#link {
  text-decoration: none;
  width: 100%;
}

.flex-modal {
  display: flex;
  justify-content: center;
}

.card-suggestion {
  overflow: hidden;
  background: white;
  width: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
  border-radius: 8px;
  margin: 15px;
  height: 100%;
  text-align: left;
}

.card-suggestion > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card-suggestion h2 {
  font-size: 16px;
  font-weight: bold;
}

#margin-top {
  margin: 5px 0;
}

.card-suggestion p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: black;
}



.card-suggestion-wrap {
  display: flex;
  justify-content: space-between;
}


.card-suggestion .card-suggestion-infos {
  padding: 0px 16px;
  display: flex;
  position: relative;
  background-color: white;
  margin: 10em 1em 1em 1em;
  border-radius: 8px;
  height: 100px;
  align-items: center;
}

.card-suggestion-infos .card-suggestion-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.price-wrap {
  display: flex;
  justify-content: center;
  position: bottom;
}
