.chatroom-head{
  position: sticky;
  top: 20px;
  background-color: white;
  padding-left: 20px;

}

.new-message-form{
    position: sticky;
    bottom: 80px;
}


.chatbox{
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  .messages{
    flex-grow: 1;
    margin-bottom: 80px;

  }
  .new-message-form{
    position: sticky;
    bottom: 80px;

  }
}
.message{
  width: 100%;
  margin: 0 0 5px 0;
  border-radius: 5px;
  padding: 0 10px ;
  display: flex;
  justify-content: flex-start;
  div{
    padding: 5px;
    border-radius: 0 5px 5px 5px;
    background-color: rgba(194, 73, 20, 0.3);
  }
}

.sender{
  text-align: right;
  justify-content: flex-end;
  div{
    border-radius: 5px 0 5px 5px;
    background-color: rgba(249, 224, 174, 0.3)
  }

}


.type-zone{
  display: flex;
  .input{
    width: 100%;
  }
}
