.order-card{
  background-color: white;
  margin-bottom: 96px;
  padding: 0 16px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  .order-card-details-bottom {
    display: flex;
    justify-content: space-between;
  }

  .order-card-head {
    padding: 16px;
  }

  .order-card-detail-btn{
    text-align: right;
  }

  #review-link {
    font-size: 14px;
    text-decoration: none;
  }

  .order-card-details-expanded-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $my-dbrown;
    p {
      color: $my-dbrown;
    }
  }
}

.order-card-lines {
  display: none;
  background-color: white;
  .order-card-details-expanded-bottom{
    display: flex;
    justify-content: space-between;
  }
}

.order-line {
  display: flex;
  justify-content: space-between;

  p {
    color: $my-dbrown;
    font-size: smaller;

  }


}

.order-card-head-infos {
  display: flex;
  justify-content: space-between;

  p{
  font-size: smaller;
  color: $my-dbrown;
  font-size: 16px;
  }
}

.flex-price-date {
  display: flex;
  height: 100%;
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
}

.dashboard-img-card img{
  width: 100%;
  height: 85px;
  object-fit: cover;
  opacity: 0.6 black;
}

// .container-order {
//   background-color: white;
//   padding: 5px 15px;
//   margin-top: 10px;
// }

// .container-order ul {
//   padding-inline-start: 0px;
// }

// .card-product-order {
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   display: flex;
//   align-items: center;
// }

// .card-product-order img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card-product-order h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product-order p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   padding-bottom: 0px;
// }

// .card-product-order .card-product-order-infos {
//   padding: 16px;
//   flex-grow: 1;
// }

// .card-product-order-infos p {
//   margin:0;
//   padding:0;
//   align-items: center;
// }
