.dashboard-card {
  width: 100%;
}
.dashboard-card > img {
  width: 350px;
  height: 125px;
  object-fit: cover;
}
.order-card-head-infos-left{
  width: 100%;
  padding-right: 6px;
  .container-dashboard-order{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

.price{
  display: flex;

}
