.order-card{
  background-color: white;
  margin-bottom: 10px;
  .order-card-detail-btn{
    text-align: right;
  }
  .order-card-lines{
    display: none;
  }
  .order-card-details-expanded-bottom{
    display: flex;
    justify-content: space-between;
  }
}


.order-line {
  display: flex;
  justify-content: space-between;
  p {
    color: $my-dbrown;
  
  }


}

.order-card-head-infos {
  display: flex;
  p{
  font-size: smaller;
  color: $my-dbrown;
  }
}
// .container-order {
//   background-color: white;
//   padding: 5px 15px;
//   margin-top: 10px;
// }

// .container-order ul {
//   padding-inline-start: 0px;
// }

// .card-product-order {
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   display: flex;
//   align-items: center;
// }

// .card-product-order img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card-product-order h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product-order p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   padding-bottom: 0px;
// }

// .card-product-order .card-product-order-infos {
//   padding: 16px;
//   flex-grow: 1;
// }

// .card-product-order-infos p {
//   margin:0;
//   padding:0;
//   align-items: center;
// }