.statick {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
